<footer class="footer">
        <img src="/static/img/reveriecms-logo-white.png">
        <p><a href="http://reveriecms.com">reveriecms.com</a></p>
        <p><a href="https://github.com/emil0r/reverie">GitHub</a></p>
</footer>
